Babel
Jinja2
Mako
MarkupSafe
Pillow
Python-Chart
PyYAML
Werkzeug
argparse
decorator
docutils
feedparser
gdata
gevent
greenlet
jcconv
lxml
mock
ofxparse
passlib
psutil
psycogreen
psycopg2
pyPdf
pydot
pyparsing
pyserial
python-dateutil
python-ldap
python-openid
pytz
pyusb
qrcode
reportlab
requests
six
suds-jurko
vatnumber
vobject
wsgiref
xlwt
